* {box-sizing: border-box;}

body{ font-family: Arial, Helvetica, sans-serif; font-size: 1rem;}
a{ color: rgb(58, 57, 57)}
a:hover{ color: rgb(82, 80, 80)}

/* para la estructura del cuerpo */
.cuerpo-drch{ display: block; background-color: rgb(206, 204, 204); float: left;}
.row{ display: flex;}
.column-izq-30{flex: 30%; padding: 6px; border:rgb(245, 210, 210) solid 1px;}
.column-drch-70{flex: 70%; padding: 6px;  border:rgb(190, 211, 235) solid 1px;}
.column-izq-50{flex: 50%; padding: 6px; border:rgb(245, 210, 210) solid 1px;}
.column-drch-50{flex: 50%; padding: 6px;  border:rgb(190, 211, 235) solid 1px;}
.pie{position: fixed; left: 0; bottom: 0; width: 100%; background-color: rgb(155, 144, 144); color: white; text-align: center;}
